<div class="text-center main-title">
	<h1 class="main">Agradecimientos</h1>
</div>
<!-- /.section-colored -->

<div class="section">
	
	<div class="thanks container">
		<h2>Las siguientes personas colaboraron en la produccion de este proyecto:</h2>
			
		<ul>
			<li>
				En primer lugar a Belén Poviña, camarógrafa, por la buena disposición para filmar.
			</li>
			<li>
				Gracias a mi hermano, el ingeniero Federico Piagentini por ayudarme con el LibroWeb.
			</li>
			<li>
				Después a la gente que me ayudó con los guiones, como mi compañera de Bachi, la licenciada, Joice Becerra, que me dio una perspectiva en género y mi amigo el Licencia Joaquín Desmery, por la perspectiva política.
			</li>
			<li>
				Gracias al colega Emilio Montilla por la orientación.
			</li>
			<li>
				Gracias a Jonathan Sarraceni por su asesoramiento legal.
			</li>
			<li>
				Gracias a Sofia Guggiari, y los compañeros del taller, por las indicaciones en expresión corporal.
			</li>
			<li>
				Gracias por las opiniones de mis amigos Nicolas Rodriguez Lamas y Juan Ignacio Nigrelli. Como así también a las palabras de aliento y paciencia de mis amigas hermanas Joy, Nach, Majo, Miner, Moms, Dahi, Dani y Vicky.
			</li>
			<li>
				Gracias a mi amiga Mari por siempre escucharme.
			</li>
			<li>
				Gracias Aye por tu apoyo incondicional.
			</li>
			<li>
				Y a mi amigo Lautaro Lopez por las Rabas.
			</li>
			<li>
				Gracias a Café Morrison, y Daniel, por prestar el lugar en Sarmiento 4555, invitar los cafés y la buena onda.
			</li>
			<li>
				Gracias a Pizzería Río, y Néstor, por prestar el lugar y la sabiduría (y las pizzas) en Río de Janeiro y casi Cangallo. 
			</li>
		</ul>
	</div>
</div>

<footer>
	<div>
		<p>
			<a href="/#/capitulo1">Volver</a>
		</p>
	</div>
</footer>