<div class="text-center main-title">
	<h1 class="main">Agradecimientos</h1>
</div>
<!-- /.section-colored -->

<div class="section">
	
	<div class="thanks container">
		<h2>Las siguientes personas colaboraron en la produccion de este proyecto:</h2>
		<ul>
			<li>
				Desarrollo del sitio: Federico Ariel Piagentini
			</li>
			<li>
				Jusepe al pepe
			</li>
			<li>
				Lalala Tumama
			</li>
			<li>
				Cacho Castania
			</li>
			<li>
				Cthulu
			</li>
			<li>
				GOOGLE
			</li>
		</ul>
	</div>
</div>

<footer>
	<div>
		<p>
			<a href="/#/capitulo1">Volver</a>
		</p>
	</div>
</footer>