<div class="text-center main-title">
	<h1>{{ 'thanks' | translate }}</h1>
</div>
<!-- /.section-colored -->

<div class="section">
	
	<div class="thanks container">
		<ul>
			<li>
				{{ 'thanks_0_0' | translate }} <a target="_blank" href="http://cargocollective.com/belenpovina">Belén Poviña</a>{{ 'thanks_0_1' | translate }}
			</li>
			<li>
				{{ 'thanks_1_0' | translate }} <a target="_blank" href="https://www.linkedin.com/in/federico-ariel-piagentini-0475713a">Federico Ariel Piagentini</a> {{ 'thanks_1_1' | translate }}
			</li>
			<li>
				{{ 'thanks_2' | translate }}
			</li>
			<li>
				{{ 'thanks_3' | translate }}
			</li>
			<li>
				{{ 'thanks_4' | translate }}
			</li>
			<li>
				{{ 'thanks_5' | translate }}
			</li>
			<li>
				{{ 'thanks_6' | translate }}
			</li>
			<li>
				{{ 'thanks_7' | translate }}
			</li>
			<li>
				{{ 'thanks_8' | translate }}
			</li>
			<li>
				{{ 'thanks_9' | translate }}
			</li>
			<li>
				{{ 'thanks_10_0' | translate }} <a target="_blank" href="https://www.facebook.com/petitemorrisoncafe/">Café Morrison</a>{{ 'thanks_10_1' | translate }}
			</li>
			<li>
				{{ 'thanks_11' | translate }} 
			</li>
		</ul>
	</div>
</div>

<footer>
	<div>
		<p>
			<a href="#/capitulo1">{{ 'back' | translate }}</a>
		</p>
	</div>
</footer>