<div class="text-center main-title">
	<h1 class="main">Capítulo I</h1>
	<h1>Prevención de femicidio</h1>
</div>
<!-- /.section-colored -->

<div class="section">

	<div class="container text-center">
		<div id="pentagon">
			<div class="vid" id="vid1">
				<a href="/#/capitulo1"><img src="images/videoPlaceholder.jpg"></a>
			</div>
			<div class="vid" id="vid2">
				<a href="/#/capitulo1"><img src="images/videoPlaceholder.jpg"></a>
			</div>
			<div class="vid" id="vid3">
				<a href="/#/capitulo1"><img src="images/videoPlaceholder.jpg"></a>
			</div>
			
			<div class="vid" id="vid4">
				<a href="/#/capitulo1"><img src="images/videoPlaceholder.jpg"></a>
			</div>
			<div class="vid" id="vid5">
				<a href="/#/capitulo1"><img src="images/videoPlaceholder.jpg"></a>
			</div>
		</div>

	</div>
	<!-- /.container -->

</div>

<div class="bio"><img src="../images/poncho.png"></img><h3>Francisco Javier Piagentini</h3><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque molestie lectus et leo tincidunt faucibus. Quisque imperdiet hendrerit iaculis. Nulla sed congue magna. Quisque ornare maximus accumsan. Sed maximus nunc sit amet est pretium fringilla at ut eros. Maecenas imperdiet ex ut iaculis condimentum. Ut eros diam, mollis et aliquet at, varius non ex. Vestibulum rhoncus maximus mauris, nec blandit magna efficitur in. Nunc vitae ex rutrum, viverra tellus at, venenatis dui. Donec fermentum neque scelerisque tristique congue. Donec id sagittis est.</p></div>
<div class="bio-button"><span>Bio</span></div>

<footer>
	<div>
		<p>
			<a href="/#/agradecimientos">Agradecimientos</a> | <a href="/#/contacto">Contacto</a>
		</p>
	</div>
</footer>