<div class="text-center main-title">
	<h1 class="main">{{ 'ch1_title1' | translate }} I</h1>
	<h1>{{ 'ch1_title2' | translate }}</h1>
</div>
<!-- /.section-colored -->

<div class="section">

	<div class="container text-center">
		<div id="pentagon">
			<div class="vid" id="vid1">
				<!-- <iframe height="100%" width="100%" src="https://www.youtube.com/embed/jGHcz_TOvrI" frameborder="0" allowfullscreen></iframe> -->
				<img src="images/videoPlaceholder.jpg" />
				<p>
					I
				</p>
			</div>
			<div class="vid" id="vid2">
				<!-- <iframe height="100%" width="100%" src="https://www.youtube.com/embed/oWkA_XJa8D8" frameborder="0" allowfullscreen></iframe> -->
				<img src="images/videoPlaceholder.jpg" />
				<p>
					II
				</p>
			</div>
			<div class="vid" id="vid3">
				<!-- <iframe height="100%" width="100%" src="https://www.youtube.com/embed/q-M6coiGBsk" frameborder="0" allowfullscreen></iframe> -->
				<img src="images/videoPlaceholder.jpg" />
				<p>
					III
				</p>
			</div>

			<div class="vid" id="vid4">
				<!-- <iframe height="100%" width="100%" src="https://www.youtube.com/embed/BeWUT-8_phU" frameborder="0" allowfullscreen></iframe> -->
				<img src="images/videoPlaceholder.jpg" />
				<p>
					IV
				</p>
			</div>
			<div class="vid" id="vid5">
				<!-- <iframe height="100%" width="100%" src="https://www.youtube.com/embed/4FdlamhTVlo" frameborder="0" allowfullscreen></iframe> -->
				<img src="images/videoPlaceholder.jpg" />
				<p>
					V
				</p>
			</div>
		</div>

	</div>
	<!-- /.container -->
	 <div id="player" class="player"></div>
	<img class="close-player" src="images/close-player.png" />
</div>


<!-- <ng-include src='"templates/decalogo.html"'></ng-include>
<div class="decalogo-button">
	<span>{{ 'decalogo_title' | translate }}</span>
</div> -->

<ng-include src='"templates/bio.html"'></ng-include>
<div class="bio-button">
	<span>{{ 'bio_title' | translate }}</span>
</div>

<footer>
	<div>
		<p>
			<a href="/#/agradecimientos">{{ 'thanks' | translate }}</a> | <a class="contact-button" href="#" onclick="return false;">{{ 'contact' | translate }}</a> | <a class="download-button" href="/#/descargas">{{ 'descargas' | translate }}</a> 
		</p>
	</div>
	<div class="contact">
		<div>
			<img src="../images/gmail.png"/>
			<a href="mailto:aprendizdelaescucha@gmail.com?subject=Hola Aprendiz de la Escucha">aprendizdelaescucha@gmail.com</a	>
		</div>
		<div>
			<img src="../images/twitter.png"/>
			<a target="_blank" href="https://twitter.com/franpiagentini">@franpiagentini</a	>
		</div>
	</div>
</footer>