<div class="text-center main-title">
	<h1 class="main">Contacto</h1>
</div>
<!-- /.section-colored -->

<div class="section">
	<div class="contacto container">
		<h2>Francisco Javier Piagentini</h2>
		<div class="social">
			<a href="/#/" class="a2a_button_facebook"></a>
			<a href="/#/" class="a2a_button_twitter"></a>
			<a href="/#/" class="a2a_button_email"></a>
			<a href="/#/" class="a2a_button_whatsapp"></a>
		</div>
	</div>
	<!-- /.container -->

</div>

<footer>
	<div>
		<p>
			<a href="/#/capitulo1">Volver</a>
		</p>
	</div>
</footer>