<div class="text-center main-title">
		<h1>{{ 'descargas' | translate }}</h1>
</div>
<div class="downloads">
	<ul>
		<li>
			I. La experiencia psicocuántica
			<br />
			<a target="_blank" href="https://youtu.be/jGHcz_TOvrI">https://youtu.be/jGHcz_TOvrI</a> | <a href="videos/1_la_experiencia_psicocuantica.mp4" download>{{ 'descarga_link' | translate }}</a>
		</li>
		<li>
			II. Femicidio y Masculinidades
			<br />
			<a target="_blank" href="https://youtu.be/oWkA_XJa8D8">https://youtu.be/oWkA_XJa8D8</a> | <a href="videos/2_femicidio_y_masculinidades.mp4" download>{{ 'descarga_link' | translate }}</a>
		</li>
		<li>
			III. Cuántica e Imaginación
			<br />
			<a target="_blank" href="https://youtu.be/q-M6coiGBsk">https://youtu.be/q-M6coiGBsk</a> | <a href="videos/3_cuantica_e_imaginacion.mp4" download>{{ 'descarga_link' | translate }}</a>
		</li>
		<li>
			IV. Patriarcado y Lenguaje
			<br />
			<a target="_blank" href="https://youtu.be/BeWUT-8_phU">https://youtu.be/BeWUT-8_phU</a> | <a href="videos/4_patriarcado_y_lenguaje.mp4" download>{{ 'descarga_link' | translate }}</a>
		</li>
		<li>
			V. Conclusión
			<br />
			<a target="_blank" href="https://youtu.be/4FdlamhTVlo">https://youtu.be/4FdlamhTVlo</a> | <a href="videos/5_conclusion.mp4" download>{{ 'descarga_link' | translate }}</a>
		</li>
	</ul>
</div>
<footer>
	<div>
		<p>
			<a href="#/capitulo1">{{ 'back' | translate }}</a>
		</p>
	</div>
</footer>