<div class="text-center">
	<h1>{{ 'intro_title' | translate }}</h1>
</div>
<!-- /.section-colored -->

<div class="section">

	<div class="intro container">
		<p>
			{{ 'intro_begin' | translate }}
		</p>
		<p>
			<span class="first-letter">“{{ 'intro_l1' | translate }}</span>{{ 'intro_p1' | translate }}
		</p>

		<p>
			<span class="first-letter">“{{ 'intro_l2' | translate }}</span>{{ 'intro_p2' | translate }}
		</p>

		<p>
			<span class="first-letter">{{ 'intro_l3' | translate }}</span>{{ 'intro_p3' | translate }}
		</p>
		<p class="firma">
			El aprendiz de la escucha
		</p>
		<p>
			<a href="/#/capitulo1">{{ 'intro_end' | translate }} >></a>
		</p>
	</div>
	<!-- /.container -->

</div>
