<div class="text-center">
	<h1>Introducción</h1>
</div>
<!-- /.section-colored -->

<div class="section">

	<div class="intro container">
		<p>
			Leer en voz alta, como si se entendiera
		</p>
		<p>
			<span class="first-letter">“T</span>ODO es posible”; aforismo menos popular que su pesimista contraparte "Nada es imposible", todo es posible nos dice que todo aquello que se encuentra dentro del universo de lo posible, de la posibilidad: puede ocurrir. Teniendo en cuenta que sólo lo posible ocurre, valga la redundancia (lo imposible es lo que no ocurre), y sólo existe lo que ocurre, entonces,
			“TODO puede ocurrir". Puede que a primera vista resulte poco, pero si uno lo piensa se dará cuenta de que hay infinitas posibilidades dentro de 'lo posible', depende de uno recorrerlas o no, y, si TODO este infinito es posible de ocurrir, agrego, también está lo posible de hacer.
		</p>

		<p>
			<span class="first-letter">“T</span>ODO puede hacerse" sería un aforismo hermano, ya que sólo lo posible de ocurrir, de existir, es lo que puede hacerse. Uno hace lo posible, ni más ni menos.
			“TODO es posible” igual “Lo POSIBLE es todo” escrito en tiempo presente, contiene potencial en un tiempo futuro.
		</p>

		<p>
			<span class="first-letter">E</span>s decisión nuestra como nos paramos frente a esta afirmación muy poderosa dentro del lenguaje, una de la cual podemos echar mano, si tenemos los huevos suficientes... (u ovarios)
		</p>
		<p class="firma">El aprendiz de la escucha</p>
		<p>
			<a href="/#/capitulo1">Continuar >></a>
		</p>
	</div>
	<!-- /.container -->

</div>
