<div class="text-center main-title">
	<h1 class="main">Capítulo I</h1>
	<h1>Prevención de femicidio</h1>
</div>
<!-- /.section-colored -->

<div class="section">

	<div class="container text-center">
		<div id="pentagon">
			<div class="vid" id="vid1">
				<a href="#"><img src="images/videoPlaceholder.jpg"></a>
			</div>
			<div class="vid" id="vid2">
				<a href="#"><img src="images/videoPlaceholder.jpg"></a>
			</div>
			<div class="vid" id="vid3">
				<a href="#"><img src="images/videoPlaceholder.jpg"></a>
			</div>
			
			<div class="vid" id="vid4">
				<a href="#"><img src="images/videoPlaceholder.jpg"></a>
			</div>
			<div class="vid" id="vid5">
				<a href="#"><img src="images/videoPlaceholder.jpg"></a>
			</div>
		</div>
		<!-- <canvas id="pentagon" width='400px' height='400px'>
		</canvas> -->

	</div>
	<!-- /.container -->

</div>

<footer>
	<div class="container">
		<p>
			<a href="#">Agradecimientos</a> | <a href="#">Contact</a>
		</p>
	</div>
</footer>