<div class="bio bio-effect">
	<div id="cycler">
		<img class="active" src="../images/1.jpg"></img>
		<img src="../images/2.jpg"></img>
		<img src="../images/3.jpg"></img>
	</div>

	<p>
		El licenciado en psicología Francisco J. Piagentini (Santa Cruz, Argentina, 1985) trabajó de los 21 a los 29 años como voluntario en el Centro de Asistencia al Suicida de Buenos Aires, cinco años al teléfono y luego como miembro de la comisión directiva. Presentó trabajos en varios congresos nacionales y regionales sobre prevención de suicidio y fue miembro del equipo profesional de capacitación para aspirantes a voluntarios.
	</p>
	<p>
		A su vez ejerce su práctica profesional desde hace algunos años como psicólogo clínico en su consultorio de Parque Centenario.
	</p>
	<p>
		Con una fuerte base psicoanalítica, fruto de posgrados en Centro Dos y la mitad de una maestría en ICdeBA, Francisco suma el paradigma cuántico y sabidurías orientales y americanas en su trabajo profesional diario.
	</p>
	<p>
		Se encuentra cursando el tercer año para ser coordinador de psicodrama en la Escuela de Psicodrama Eduardo Pavlovsky.
	</p>
	<p>
		Actualmente es profesor del Bachiller de educación popular Independencia y trabaja como "psicologo de comercios" en Petit Morrison Café y Pizzería Rio.
	</p>
	<p>
		De espíritu inquieto y lúdico, está desarrollando este proyecto, un Libro-Web vivo con intención de generar un impacto a nivel social a través de las redes sociales.
	</p>
	<p>
		La escucha que habla es tanto un libro como una técnica de escucha, que el autor, bajo el alias de el aprendiz de la escucha, va descubriendo a medida que hace la obra.
	</p>
</div>