<div class="decalogo">
	<ul>
		<li>
			Lo máximo máximo máximo que puedo cambiar es a uno mismo.
		</li>
		<li>
			Lo máximo máximo máximo que puedo dar a otro, es amor.
		</li>
		<li>
			Escuchar es un modo de amar.
		</li>
		<li>
			Escúchate a ti mismo, escucha a tu prójimo, escucha al universo.
		</li>
		<li>
			Escucha a tu prójimo y te escucharás a ti mismo.
		</li>
		<li>
			Escúchate a ti mismo y escucharas al universo.
		</li>
		<li>
			Escucha al universo y actúa en consecuencia.
		</li>
		<li>
			No juzgues si no quieres juzgarte a ti mismo.
		</li>
		<li>
			Todo lo que Yo posea, me termina poseyendo.
		</li>
		<li>
			Si no te estás divirtiendo, algo estás haciendo mal.
		</li>
	</ul>
</div>