<div class="decalogo">
	<h2>{{ 'decalogo_0' | translate }}</h2>
	<ul>
		<li>
			{{ 'decalogo_1' | translate }}
		</li>
		<li>
			{{ 'decalogo_2' | translate }}
		</li>
		<li>
			{{ 'decalogo_3' | translate }}
		</li>
		<li>
			{{ 'decalogo_4' | translate }}
		</li>
		<li>
			{{ 'decalogo_5' | translate }}
		</li>
		<li>
			{{ 'decalogo_6' | translate }}
		</li>
		<li>
			{{ 'decalogo_7' | translate }}
		</li>
		<li>
			{{ 'decalogo_8' | translate }}
		</li>
		<li>
			{{ 'decalogo_9' | translate }}
		</li>
		<li>
			{{ 'decalogo_10' | translate }}
		</li>
	</ul>
</div>